#navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

#navbar-logo {
    height: 88px;
    padding-left: 30px;

}
#navbar-Right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 30px;

}
#navbar-Right a {

    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    color: black;
    font-size: 20px;
    padding-right: 30px;
    font-family: sans-serif;
    
}
#search-section{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-right: 90px;
    font-size: 30px;

}
#search-input{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    box-shadow:grey 4px 4px 5px;
    border-radius: 3px 0px 0px 3px;
    border-top: none;

}
#search-button{
    width: 100px;
    background-color: #531A18;
    border: none;
    color: white;
    border-radius: 0px 5px 5px 0px;
    box-shadow: grey 3px 3px 4px;
    
}
#searched-meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.meal{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow:grey 4px 4px 5px;
    background-color: whitesmoke;

}
.meal img {
    width: 100%;
    border-radius: 5px;
    box-shadow:grey 4px 4px 5px;
}

.meal h2 {
    color: #521A18;
    font-family: sans-serif;
}
#details-area{
    width: 500px;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
    padding-right: 5px;
    
}
.namePicture img {
    border-radius: 5px;
    box-shadow:grey 4px 4px 5px;
    width: 100%;
}
.namePicture{
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:grey 4px 4px 5px;
    background-color: whitesmoke;
}
.ingredients{
    border: 1px solid black;
    border-left: none;
    border-radius: 5px;
    box-shadow:grey 4px 4px 5px;
}
.ingredients li {
    list-style-type: none;
    margin-top: 2px;
    font-family: sans-serif;
    padding-right: 20px;
    color: #521A18;
}
.namePicture h1{
    margin-left: 20px;
    font-family: sans-serif;
    color: #521A18;
}
.ingredients p {
    margin-left: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #521A18;
}
.invalid-Input{
    font-family: sans-serif;
    margin-left: 50px;

}